.container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.header {
	display: flex;
	gap: 30px;
	@media (max-width: 480px) {
		flex-direction: column-reverse;
	}
}
.image {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 15px;
}
.block {
}
.title {
	font-size: 1.4rem;
	line-height: 1.2;
	font-weight: 600;
}
.text {
	max-width: 85ch;
}
.body {
}

.controlButton {
	margin-top: 20px;
	background: none;
	border: 1px solid lightgray;
	cursor: pointer;
	border-radius: 6px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 1rem;
	white-space: nowrap;
	&:hover {
		color: red;
	}
}
